<div class="controller">
    <div class="text-center">
        <h1>Lates Earthquakes Worldwide</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-4 col-md-offset-2">
            <button type="button" ng-click="resetSort()" class="btn btn-default">Reset Sort</button>
            <button type="button" ui-sref="earthquakeMap" class="btn btn-default">Back to Map</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="sortType = 'properties.time'; sortReverse = !sortReverse">
                                Date/Time
                                <span ng-show="sortType == 'properties.time' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'properties.time' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'geometry.coordinates[0]'; sortReverse = !sortReverse">
                                Lat
                                <span ng-show="sortType == 'geometry.coordinates[0]' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'geometry.coordinates[0]' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'geometry.coordinates[1]'; sortReverse = !sortReverse">
                                Lon
                                <span ng-show="sortType == 'geometry.coordinates[1]' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'geometry.coordinates[1]' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'properties.mag'; sortReverse = !sortReverse">
                                Mag
                                <span ng-show="sortType == 'properties.mag' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'properties.mag' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'properties.depth'; sortReverse = !sortReverse">
                                Depth
                                <span ng-show="sortType == 'properties.depth' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'properties.depth' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'properties.place'; sortReverse = !sortReverse">
                                Location
                                <span ng-show="sortType == 'properties.place' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'properties.place' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="feature in features | orderBy:sortType:sortReverse">
                        <td>{{feature.properties.time | date:'medium'}}</td>
                        <td>{{feature.geometry.coordinates[0] | number:2}}</td>
                        <td>{{feature.geometry.coordinates[1] | number:2}}</td>
                        <td>{{feature.properties.mag}}</td>
                        <td>{{feature.properties.depth}}</td>
                        <td><a ng-href="{{feature.properties.url}}" target="_blank">{{feature.properties.place}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
